body{
    margin: 0;
    background-color: #efefef;
    padding: 0 50px 0 50px ;
}
#inicio{
    background-image: url('./src/assets/ocean.mp4');
}

#background-video {
    width: 854px;
    height: 480px;
    object-fit: cover;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
  }

h1{
    color:rgba(255, 255, 255, 0.9);
    text-shadow: 3px 5px 5px gainsboro;
    text-align: center;
    padding: 0 0 0 0;
    /*text-align: center;*/
    /*padding: 180px;*/

}
h1 {
    font-size: 6rem;
    margin-top: 30vh; 
  }

a:visited{
    color: gray;
 
}

a:hover{
    color: blueviolet;

}
a:active{
    color: aqua;
}
 
ul{
    border: 10px 200px 10px 200px    ;
    padding: 5px 190px 5px 190px;
    margin: 0px 150px 0px 150px;
    display:flex;  
    list-style: none;    
    width: 400px;
}
#seccion1{
    background-image: url("./src/assets/problem.png");
    background-repeat: no-repeat;
    background-position: left;
    height: 310px;
    width: 167px;
}
#problemtext{
    height: 310px;
    width: 650px;
    padding: 0 0 0 200px;

}
#seccion2{
    background-image: url("./src/assets/afectacion.png");
    background-repeat: no-repeat;
    background-position:right;
    height: 290px;
    width: 854px;
}
#afectacionestexto{
    height: 310px;
    width: 600  px;
    padding: 0 180px 0 0;
}
#seccion4{
    background-image: url("./src/assets/sargazo1.png");
    background-repeat: no-repeat;
    background-position: right;
    height: 225px;
    width: 854px;
}
#aditionalinfo{
    height: 0px;
    width: 600  px;
    padding: 0 220px 0 0 ;
}

#img{
    padding: 0 0 0 200px;
}
#reportetexto{
    width: 854px;
    padding: 0 px 0 0;
}

