<!DOCTYPE html>
<html lang= "es" >
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="icon" href="./../../sargazo.ico">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <script src="https://kit.fontawesome.com/b0ab042d33.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./../../style.css"/>
    <title>Sargassum</title>
</head>
<body>
    <nav>
    <ul>
        <li><a href="./../../index.html">Inicio</a></li>
        <li><a href="./reporte.html">Reporte</a></li>
        <li><a href="./donations.html">Donaciones</a></li>
        <li><a href="./info.html">Información Adicional</a></li>
        <li><a href="./myaccount.html">Mi Cuenta</a></li>
        <li><a href="./enterprise.html" class="active">Empresas</a></li>
        <i class="fa-solid fa-bars navIcon"></i>
        <i class="fa-solid fa-x navIcon"></i>
    </ul>
    </nav>
    <main>
    <h1 class="h1">Empresas</h1><!--se modifica anteriormente contenia "donaciones"-->
    <div class="enterprise">
        <h1>Soy Empresa Socialmente Responsable</h1>
        <p>Una empresa socialmente responsable es consciente del impacto social, económico y ambiental que hay en su entorno, que impulsa su productividad con base en estándares de calidad ética y moral, está comprometida con generar un cambio positivo al interior y al exterior. 
            Cualquier empresa que lo desee puede ser socialmente responsable, solo es cuestión de hacer  compromisos internos para cambiar la forma en que se manejan y producen las cosas, y buscar las alternativas más sostenibles que generen un impacto positivo para los demás. </p>
        <h3>Empresas inscritas</h3>
        <div>
            <ul>
                <li>
                    <a href="">Sargánico</a>
                </li>
                <p>
                    Entre sus productos se encuentran libretas, agendas, fólderes, portavasos, porta menús y tarjetas de presentación entre otros diversos productos.
                    Victoria Morfín, su creadora, siguiendo su instinto creativo y emprendedor, tuvo la idea de convertir el sargazo en materia prima para procesarlo y transformarlo en productos prácticos, útiles y estéticos.
                </p>
                <li>
                    <a href="">Renovare</a>
                </li>
                <p>
                    Renovare, una empresa mexicana sustentable que elabora calzado orgánico a partir de botellas de plástico recicladas y sargazo.
                    Para producir estos zapatos, se necesitó un desarrollo aproximado de cuatro a cinco años, que finalmente derivó en una patente. En 2019 nació el primer producto, con 100 gramos de sargazo para la suela y cinco botellas de plástico recicladas para el resto.
                </p>
                <li>
                    <a href="">Bioremar</a>
                </li>
                <p>
                    El producto llamado Bioremar es un biodiesel de origen vegetal que funciona como reemplazo del gaséoleo de origen fósil. Pero además del combustible, su proceso permite también aprovechar glicerina para jabones, cremas y champú.
                    Una de las ventajas es que el combustible vegetal reduce algunos efectos contaminantes ya que elimina en un 100 % las emisiones de CO2 y reduce la producción de hollín entre un 40 % y un 60 %
                    Además de reducir emisiones de hidrocarburos, por ejemplo, el monóxido de carbono también desciende en la misma proporción, entre un 10 % y un 50 %.
                </p>
            </ul>
    </div>
    </div>
    </main>
    <footer>
        <section>
            <a href="#homepage">Home</a>
            <a href="=mailto:sargassum@gmail.com">Correo de contacto</a>
        </section>
            <p>Copyright 2022</p>
    </footer>
</body>
</html>