<!DOCTYPE html>
<html lang= "es" >
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="icon" href="./../../sargazo.ico">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <script src="https://kit.fontawesome.com/b0ab042d33.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="./../../style.css"/>
    <title>Sargassum</title>
</head>
<body>
    <nav>
    <ul>
        <li><a href="./../../index.html">Inicio</a></li>
        <li><a href="./reporte.html">Reporte</a></li>
        <li><a href="./donations.html">Donaciones</a></li>
        <li><a href="./info.html">Información Adicional</a></li>
        <li><a href="./myaccount.html">Mi Cuenta</a></li>
        <li><a href="./enterprise.html" class="active">Empresas</a></li>
        <i class="fa-solid fa-bars navIcon"></i>
        <i class="fa-solid fa-x navIcon"></i>
    </ul>
    </nav>
    <main>
    <h1>Donaciones</h1>
    <div class="enterprise">
        <h1>Soy Empresa Socialmente Responsable</h1>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nemo modi ad quos fugiat qui fuga sed quam ipsam maxime alias voluptatibus quibusdam deserunt quia veritatis consequuntur necessitatibus voluptatem aut obcaecati mollitia aliquam laboriosam, voluptas autem. Repellat modi animi voluptatem. Veritatis consequatur fugiat quo ullam explicabo blanditiis labore aperiam, suscipit atque. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ipsum aperiam saepe veritatis consequatur assumenda dolore fugit ducimus ut quos aliquid?</p>
        <h3>Lugares donde recolectar</h3>
        <div>
            <ul>
                <li>
                    <a href="">Playa del Carmen</a>
                </li>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis voluptates dignissimos vel nesciunt nihil porro, quisquam, sequi modi labore a temporibus laudantium perspiciatis velit praesentium atque suscipit assumenda? Vel asperiores aperiam voluptates numquam sequi aliquid beatae ea quam accusamus dolor distinctio minus, eaque aspernatur veritatis alias repellat a ad natus corrupti veniam obcaecati deleniti quos dignissimos ex? Libero maxime, incidunt corrupti aperiam quis, at non facilis est tenetur ullam commodi?
                </p>
                <li>
                    <a href="">Cancun</a>
                </li>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis voluptates dignissimos vel nesciunt nihil porro, quisquam, sequi modi labore a temporibus laudantium perspiciatis velit praesentium atque suscipit assumenda? Vel asperiores aperiam voluptates numquam sequi aliquid beatae ea quam accusamus dolor distinctio minus, eaque aspernatur veritatis alias repellat a ad natus corrupti veniam obcaecati deleniti quos dignissimos ex? Libero maxime, incidunt corrupti aperiam quis, at non facilis est tenetur ullam commodi?
                </p>
                <li>
                    <a href="">Cozumel</a>
                </li>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis voluptates dignissimos vel nesciunt nihil porro, quisquam, sequi modi labore a temporibus laudantium perspiciatis velit praesentium atque suscipit assumenda? Vel asperiores aperiam voluptates numquam sequi aliquid beatae ea quam accusamus dolor distinctio minus, eaque aspernatur veritatis alias repellat a ad natus corrupti veniam obcaecati deleniti quos dignissimos ex? Libero maxime, incidunt corrupti aperiam quis, at non facilis est tenetur ullam commodi?
                </p>
            </ul>
    </div>
    </div>
    </main>
    <footer>
        <section>
            <a href="#homepage">Home</a>
            <a href="=mailto:sargassum@gmail.com">Correo de contacto</a>
        </section>
            <p>Copyright 2022</p>
    </footer>
</body>
</html>