<!DOCTYPE html>
<html lang= "es">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="icon" href="./../../sargazo.ico">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <script src="https://kit.fontawesome.com/b0ab042d33.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="style.css"/> 
    <title>Sargassum</title>
</head>
<body>
    <nav>
    <ul>
        <li><a href="./../../index.html">Inicio</a></li>
        <li><a href="./reporte.html">Reporte</a></li>
        <li><a href="./donations.html">Donaciones</a></li>
        <li><a href="./info.html">Información Adicional</a></li>
        <li><a href="./myaccount.html">Mi Cuenta</a></li>
        <li><a href="./enterprise.html">Empresas</a></li>
        <i class="fa-solid fa-bars"></i>
        <i class="fa-solid fa-x"></i>
    </ul>
    </nav>
    <main>
    <button>
        <a href="./createaccount.html">Crear cuenta</a>
    </button>
        <h1>Crear cuenta</h1>
    <h1>Mi Cuenta</h1>
    <div class="reports">
        <h2>Reportes Realizados</h2>
        <div class="report1" id="report1">
            <h4>Reporte 1</h4>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Molestiae, fugiat?</p>
        </div>
        <div class="report2" id="report2">
            <h4>Reporte 2</h4>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Molestiae, fugiat?</p>
        </div>
        <div class="report3" id="report3">
            <h4>Reporte 3</h4>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Molestiae, fugiat?</p>
        </div>
        <div class="report4" id="report4">
            <h4>Reporte 4</h4>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Molestiae, fugiat?</p>
        </div>
    </div>
    </main>
    <footer>
        <p>Sargassum &copy; 2020</p>
    </footer>
</body>
</html>