<!DOCTYPE html>
<html lang= "es">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="icon" href="./../../sargazo.ico">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <script src="https://kit.fontawesome.com/b0ab042d33.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./../../style.css"/>
    <title>Sargassum</title>
  </head>
  <body>
    <nav>
      <ul>
        <li><a href="./../../index.html">Inicio</a></li>
        <li><a href="./reporte.html" class="active">Reporte</a></li>
        <li><a href="./donations.html">Donaciones</a></li>
        <li><a href="./info.html">Información Adicional</a></li>
        <li><a href="./myaccount.html">Mi Cuenta</a></li>
        <li><a href="./enterprise.html">Empresas</a></li>
        <i class="fa-solid fa-bars navIcon"></i>
        <i class="fa-solid fa-x navIcon"></i>
      </ul>
    </nav>
    <main>
      <h1 class="h1">Reporte</h1>
      <div class="reportform">
        <form action="Enviar">
          <section>
            <label for="propiedad" name="propiedad" id="propiedad" class="propiedad">Propiedad: </label>
            <input type="text" name="propiedad" id="propiedad" class="propiedad" placeholder="Propiedad (Pública o Privada)">
          </section>
          <section> 
            <label for="direccion" name="direccion" id="direccion" class="direccion">Dirección: </label>
            <input type="text" name="direccion" id="direccion" class="direccion" placeholder="Dirección">
          </section>
          <section>
            <label for="municipio" name="municipio" id="municipio" class="municipio">Municipio: </label>
            <input type="text" name="municipio" id="municipio" class="municipio" placeholder="Municipio">
          </section>
          <section>
            <label for="estado" name="estado" id="estado" class="estado">Estado: </label>
            <input type="text" name="estado" id="estado" class="estado" placeholder="Estado">
          </section>
          <section>
            <label for="cp" name="cp" id="cp" class="cp">Código Postal: </label>
            <input type="number" name="cp" id="cp" class="cp" placeholder="Código Postal">
          </section>
            <label for="contacto" name="contacto" id="contacto" class="contacto">Teléfono de Contacto: </label>
            <input type="number" name="contacto" id="contacto" class="contacto" placeholder="Teléfono de Contacto">
          <section>
            <label  abel for="correo" name="correo" id="correo" class="correo">Correo Electrónico: </label>
            <input type="email" name="correo" id="correo" class="correo" placeholder="Correo Electrónico">
          </section>
          <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d25256.372465533444!2d-86.86648123447435!3d20.550474284332264!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e1!3m2!1ses!2smx!4v1652550565952!5m2!1ses!2smx" width="600" height="400" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
          <section>
            <button type="submit">Enviar</button>
          </section>
        </form>
      </div>
      
    </main>
    <footer>
      <section>
        <a href="#homepage">Home</a>
        <a href="=mailto:sargassum@gmail.com">Correo de contacto</a>
      </section>
        <p>Copyright 2022</p>
    </footer>
  </body>
</html>